<!DOCTYPE html>
<html lang="es">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Reproductor de Música</title>
 <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
</head>

{% block body %}

<body>

    <header>
        <a href="{{ path('app_inicio') }}">

            <img src="{{ asset('img/logo1.png') }}" alt="Logo" id="logo">

        </a>


        <div id="input">

            <input type="text" placeholder="¿Qué quieres reproducir?" id="inputBuscar">
            <button id="idBuscar" onclick="buscarCancion()">Buscar</button>

        </div>

        <img src="{{ asset('img/login1.png') }}" alt="Login" id="login">

    </header>
    

    <div id="container">


        <nav>
            <h3>|| Tu biblioteca</h3>

            <div id="biblioteca">
                <p><a href="{{ path('app_cancion') }}">🎵 Canciones</a></p>
                <p><a href="{{ path('app_playlist') }}">🎶 Playlist</a></p>

            </div>

        </nav>

        <div id="centro">

            <h2>Tus playlists</h2>
            <div class="contenedor-canciones">
                {%for playlist in playlists %}
                    <div class="cancion" onclick="mostrarCancionesPlaylist('{{playlist.id}}')">
                            <img src="{{ asset('img/nota.png') }}" alt="portada">
                            <h3>{{ playlist.nombre }}</h3>
                    </div>
                {% else %}
                    <p>No existen playlists</p>
                {% endfor %}
            </div>

            <h2>Tus canciones</h2>
            <div class="contenedor-canciones">
                {%for cancion in canciones %}
                    <div class="cancion" onclick="playSong('{{cancion.titulo}}')">
                        <img src="{{ asset('img/' ~ cancion.portada) }}" alt="portada">
                        <h3>{{ cancion.titulo }}</h3>
                        <h5>{{ cancion.autor }}</h5>
                    </div>
                {% else %}
                    <p>No existen canciones</p>
                {% endfor %}
            </div>
        </div>
    </div>

    <audio id="audioPlayer" controls style="display: none;">
        <source id="srcCancion" type="audio/mp3">
    </audio>
    <footer>
    
    <p>© 2025 MySpotify - Todos los derechos reservados.</p>

    </footer>



    <script src="{{ asset('assets/js/script.js') }}"></script>
    <!-- se escribe asi, no hace falta usar public en documentos estaticos. Symfony lo gestiona automaticamente -->

</body>
{% endblock %}
</html>

